p{font-size: 40px;background-color: orange;color: white;}
h1{text-decoration:underline;color:violet}
h2{border-style:outset;border-color: green;}
h3{border-style:overline;border-color: green;}
h4{border-style:dashed;border-color: green;}
h5{border-style:double;border-color: green;}
h6{border-style:groove;border-color: green;}